/* Standard Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-bg text-white font-sans;
  }
}

/* Custom styles */
.resizer {
  background-color: #3A3A3C;
  cursor: col-resize;
  width: 2px;
  flex-shrink: 0;
  transition: background-color 0.2s;
}
.resizer:hover {
  background-color: #8E8E93;
}
/* Custom Scrollbar for a better IDE look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #111113;
}
::-webkit-scrollbar-thumb {
  background: #3A3A3C;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4A4A4F;
}

@keyframes blob {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	33% {
		transform: translate(30px, -50px) scale(1.1);
	}
	66% {
		transform: translate(-20px, 20px) scale(0.9);
	}
	100% {
		transform: translate(0px, 0px) scale(1);
	}
}

.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}
